.headers {
  border: 3px solid black;
  border-radius: 5px;

}
.all-headers {
  display: flex;
  flex-direction: row;
}
.container{
  display: flex;
  border: 5px solid black;
  flex-direction: column;
}

.content {
  display: block;
  align-items: center;
  background-color: wheat;
}
.headers:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}
